* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  /*background: ('https://images.unsplash.com/photo-1507525428034-b723cf961d3e');
  background-repeat: no-repeat;
  background-size: auto;*/
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: aliceblue;
}

.texto {
  font-size: 120px;
  font-weight: bold;
  background: url('https://images.unsplash.com/photo-1507525428034-b723cf961d3e') center/cover;
  -webkit-background-clip: text; /* é pra compatibilidade com navegadores em geral*/
  background-clip: text; /* recorta a imagem no tamanho do texto*/
  color: transparent; /* esconde a cor normal do texto */
}